<form [formGroup]="form" class="row mb-4">
    <div class="mb-2 col-4">
        <label class="mb-1" for="name">Name*</label>
        <input id="name" formControlName="name" type="text" class="form-control">
        @if (form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)) {
        <p class="text-danger my-1">Name is required</p>
        }
    </div>
    <div class="mb-2 col-4">
        <label class="mb-1" for="description">Description*</label>
        <input id="description" formControlName="description" type="text" class="form-control">
        @if (form.controls['description'].invalid && (form.controls['description'].dirty ||
        form.controls['description'].touched)) {
        <p class="text-danger my-1">Description is required</p>
        }
    </div>
    <div class="mb-2 col-4">
        <label class="mb-1" for="price">Price*</label>
        <input id="price" formControlName="price" type="number" class="form-control">
        @if (form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)) {
        <p class="text-danger my-1">Price is required</p>
        }
    </div>
    <div class="mb-2 col-4">
        <label class="mb-1" for="stockQuantity">Stock quantity*</label>
        <input id="stockQuantity" formControlName="stockQuantity" type="number" class="form-control">
        @if (form.controls['stockQuantity'].invalid && (form.controls['stockQuantity'].dirty ||
        form.controls['stockQuantity'].touched)) {
        <p class="text-danger my-1">Stock quantity is required</p>
        }
    </div>
    <div class="mb-2 col-4">
        <label class="mb-1" for="category">Category*</label>
        <select id="category" formControlName="category" class="form-select">
            <option value="" disabled selected>Select a category</option>
            @for (category of pCategoryList; track category) {
            <option [value]="category.id">{{category.name}}</option>
            }
        </select>
        @if (form.controls['category'].invalid && (form.controls['category'].dirty ||
        form.controls['category'].touched)) {
        <p class="text-danger my-1">Category is required</p>
        }
    </div>

    <div class="col-12">
        <button (click)="callSave()" [disabled]="form.invalid || !areActionsAvailable" class="btn btn-primary"
            type="button">
            Save
        </button>
    </div>
</form>