<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Stock Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (product of pProductList; track product) {
            <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stockQuantity}}</td>
                <td>{{ getCategoryName(product.category?.id) }}</td>
                <td class="flex-row d-inline-flex w-100 gap-3">
                    <button type="button" (click)="callUpdateModalMethod.emit(product)"
                        [disabled]="!areActionsAvailable" class="btn btn-success">
                        <i class="fa-solid fa-pen-to-square white"></i>
                    </button>
                    <button type="button" (click)="callDeleteMethod.emit(product)" [disabled]="!areActionsAvailable"
                        class="btn btn-danger">
                        <i class="fa-solid fa-trash white"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>